body{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Tamma 2', cursive;
}
img{
    display: inline-block;
    width: 25px;
    height: 25px;
}
.company-name{
    padding: 10px;
}
.nav-links{
    padding: 5px 20px;
}
.nav-links:hover{
    cursor: pointer;
}
.main-container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
   
}
.bottom-links:hover{
    cursor: pointer;
    color: skyblue;
}
.footer-links{
    display: flex;
}
.footer-icons{
    color: black;
    display: inline-block;
    width: 20px;
    height: 20px;
}
